@font-face {
  font-family: Muli;
  src: url(../fonts/Muli-Regular.ttf) format('opentype');
}

@font-face {
  font-family: Nexa;
  src: url(../fonts/Nexa_Free_Regular.otf) format('opentype');
}

body {
  font-family: 'Muli', arial, sans-serif;
  color: #4d4d4d;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

header {
  margin-top: 120px;
  margin-bottom: 50px;
}

header .logo {
  max-width: 200px;
  margin: 0 auto;
  align-content: center;
}

h1.name {
  margin-top: 30px;
  font-weight: bolder;
  color: #252525;
  font-family: "Nexa", sans-serif;
}

h1.name .color{
  color: rgb(243, 182, 76);
}

h3.desc {
  color: #5e6061b7;
  font-family: "Annie Use Your Telescope", sans-serif;
}

.col-sm-12 {
text-align: center;
}

.col-md-4 {
  text-align: center;
  }

h4.options {
  color: #252525;
  font-family: "Nexa", sans-serif;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 500;
}

/* INPUT FILE */

.input {
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

div.input-group {
  max-width: 70%;
}

#input-group-text {
  font-weight: bold;
}


/* NUMBER OF PLAYERS */

.radios {
  align-items: center;
  justify-content: center;
  padding: 30px 20px 20px 20px;
}

.radios input[type="radio"] {
  display: none
}

.radios input + label {
  display: inline-grid;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  place-content: center;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
  margin: 6px 5px;
}

.radios input + label span {
  color: #333;
  font-family: "Muli";
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.radios input:not(:checked) + label:hover {
  background: rgba(222, 228, 236, 0.5);
}

.radios input:checked + label {
  transform: scale(1.4);
  border: 4px solid rgb(243, 182, 76);
  transition: all .3s ease;
}

/* GAME TIME */

div.slider {
  padding: 30px 20px 20px 20px;
}

.irs--round .irs-handle {
  top: 15px !important;
  width: 40px !important;
  height: 40px !important;
  border-color:rgb(243, 182, 76) !important;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
  top: -10px !important;
  background:rgb(243, 182, 76) !important;
  color: #333 !important;
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
  border-top-color: rgb(243, 182, 76) !important;
}

.irs--round .irs-bar {
  background:rgb(243, 182, 76) !important;
}

.irs--round .irs-min, .irs--round .irs-max, .irs--round .irs-from, .irs--round .irs-to {
	font-size: 16px !important;
}

.irs--round .irs-grid-text {
	font-size: 16px !important;
}

/* LANGUAGE */

div.languages-container {
  display: inline-block;
  place-content: center;
  padding: 25px 20px 10px 20px;
}

form.language {
  display: inline-grid;
  place-content: center;
  height: 60px;
  width: 60px;
  overflow: hidden;
  border: 2px groove #5e6061b7;
  margin: 0 5px;
}

form#English-form {
  background: url(../img/EN.png) 50% 75%/ cover;
}

form#Polish-form {
  background: url(../img/PL.jpg) 50% 75%/ cover;
}

.lang-check, .type-check, .game-check {
  display: none;
}

.lang-check + label {
  --i: var(--check, 1);
  --j: calc(1 - var(--i));
  position: relative;
  width: 70px; 
  height: 70px;
  cursor: pointer;
  transition: .35s;
}

.lang-check + label:before, .lang-check + label:after {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  opacity: calc(0.2 *var(--i));
  background: #fff;
  transition: inherit;
  content: '';
}

.lang-check + label:after {
  left: 17.5%;
  opacity: var(--i);
  background: 
    linear-gradient(90deg, rgb(243, 182, 76) 50%, transparent 0) 
      calc(var(--j)*100%)/ 200%;
  --poly: polygon(0 30%, 35% 60%, 100% 0, 
                  100% 25%, 35% 85%, 0 55%);
  -webkit-clip-path: var(--poly);
          clip-path: var(--poly);
  transition: opacity 0.1s, background-position 0.2s 0.1s ;
}

.lang-check:not(:checked) + label:hover {
  opacity: 0.5;
  background: #fff;
  z-index: 100;
}

.lang-check:not(:checked) + label { 
  --i: 0; 
}

/* GAME TYPE */

div.games-container {
  display: inline-block;
  place-content: center;
  padding: 5px 20px 20px 20px;
}

div.form-label {
  display: inline-grid;
  justify-content: center;
}

div.form-label:nth-child(2) {
  margin-left: 10px;
}

form.game-type {
  display: inline-grid;
  place-content: center;
  height: 70px;
  width: 70px;
  overflow: hidden;
  margin: 15px 5px;
}

form#compete-form {
  background: url(../img/compete.png) 50% 75%/ cover;
}

form#coop-form {
  background: url(../img/coop.png) 50% 75%/ cover;
}

.type-check + label {
  --i: var(--check, 1);
  --j: calc(1 - var(--i));
  position: relative;
  width: 70px; 
  height: 70px;
  cursor: pointer;
  transition: .35s;
}

.type-check + label:before, .type-check + label:after {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  opacity: calc(0.2 *var(--i));
  background: #fff;
  transition: inherit;
  content: '';
}

.type-check + label:after {
  left: 17.5%;
  opacity: var(--i);
  background: 
    linear-gradient(90deg, rgb(243, 182, 76) 50%, transparent 0) 
      calc(var(--j)*100%)/ 200%;
  --poly: polygon(0 30%, 35% 60%, 100% 0, 
                  100% 25%, 35% 85%, 0 55%);
  -webkit-clip-path: var(--poly);
          clip-path: var(--poly);
  transition: opacity 0.1s, background-position 0.2s 0.1s ;
}

.type-check:not(:checked) + label:hover {
  opacity: 0.5;
  background: #fff;
  z-index: 100;
}

.type-check:not(:checked) + label { 
  --i: 0; 
}

.type-label {
  text-align: center;
  justify-content: center;
  display: inline;
	color: #333;
	font-size: 14px;
  line-height: 1;
  left: -1px;
	padding: 2px 5px;
	background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
}

/* SOLO vs TEAM */

form#solo-form {
  background: url(../img/solo.png) 50% 75%/ cover;
}

form#team-form {
  background: url(../img/team.png) 50% 75%/ cover;
}

div.solo-container {
  display: inline-block;
  place-content: center;
  padding: 5px 20px 20px 20px;
}

/* CHOSEN GAME */

div.choice {
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 40px 0px 40px 0px;
}

div.chosen {
  display: flex;
}

div.games-box {
  justify-content: center;
  align-items: center;
}

div.chosen-container {
  box-sizing: border-box;
  display: inline-flex;
  height: 300px;
  width: 300px;
  margin: 20px 0px 40px 0px;
  border: solid 2px #252525;
  color: #252525;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  font-weight: 500;
  align-items: center; 
  justify-content: center;
}

.chosen-text {
  color: rgb(243, 182, 76);
  font-family: "Annie Use Your Telescope", sans-serif;
  font-weight: 900;
}

#reroll-button {
  font-family: "Nexa", sans-serif;
  font-size: 24px;
  font-weight: 500;
  background: rgb(243, 182, 76);
  border: solid 2px rgb(243, 182, 76);
  color: #252525;
  cursor: pointer;
  justify-content: center;
  visibility: hidden;
}

#reroll-button:hover{
  background:  rgba(0,0,0,0.1);
  border: solid 2px rgba(0,0,0,0.1);
}


/* GAME LIBRARY */

div.library {
  align-content: center;
  justify-content: center;
  text-align: center;
  background: rgba(0,0,0,0.03);
  visibility: hidden;
}

span.filteredGames {
  color: #252525;
  font-family: "Muli", sans-serif;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 500;
}

.filtered-pics{
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  background: rgba(0,0,0,0.03);
  padding-bottom: 15px;
  visibility: hidden;
}

div.filtered-container {
  box-sizing: border-box;
  display: inline-flex;
  height: 150px;
  width: 150px;
  margin: 5px;
  background: rgba(0,0,0,0.1);
  border: solid 2px #252525;
  color: #252525;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  font-weight: 500;
  align-items: center; 
  justify-content: center;
  position: relative; 
}

.game-check + label {
  --i: var(--check, 1);
  --j: calc(1 - var(--i));
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px; 
  height: 30px;
  cursor: pointer;
  transition: .35s;
  box-sizing: border-box;
  border: 1px solid #252525;
  border-top: none;
  border-right: none;
}

.game-check + label:before, .game-check + label:after {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  opacity: calc(0.2 *var(--i));
  background: #fff;
  transition: inherit;
  content: '';
}

.game-check + label:after {
  left: 17.5%;
  opacity: var(--i);
  background: 
    linear-gradient(90deg, rgb(243, 182, 76) 50%, transparent 0) 
      calc(var(--j)*100%)/ 200%;
  --poly: polygon(0 30%, 35% 60%, 100% 0, 
                  100% 25%, 35% 85%, 0 55%);
  -webkit-clip-path: var(--poly);
          clip-path: var(--poly);
  transition: opacity 0.05s, background-position 0.2s 0.05s;
}

.game-check:not(:checked) + label:hover {
  opacity: 0.5;
  background: #fff;
  z-index: 100;
}

.game-check:not(:checked) + label { 
  --i: 0; 
}

p.game-name {
  text-align: center;
  justify-content: center;
	color: #333;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
	padding: 2px 5px;
	background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  max-width: 200px;
}



.tooltip > .tooltip-inner {

  padding: 10px;
  font-size: 16px;
  background-color: rgba(243, 182, 76, 0.85);
  color: #333;
  font-family: "Muli";
  text-align: justify;

}

.tooltip > .tooltip-inner > p {
  padding: 0px;
  margin: 0px;
}


/* RESPONSIVE */

@media (max-width: 2148px) {
  .radios {
    padding-top: 20px;
  }
}

@media (max-width: 1451px) {
  .radios {
    padding-top: 15px;
  }
}

@media (max-width: 1122px) {
  .irs--round .irs-min, .irs--round .irs-max {
    display: none;
  }
}

@media (max-width: 1098px) {
  div.solo-container {
    display: grid;
  }
}

@media (max-width: 758px) {
  div.solo-container {
    padding-top: 0px;
    display: inline-block;
  }
  div.input-group-prepend {
    display: none;
  }
  .tooltip {
    display: none !important;
  }
}

@media (min-width: 1700px) {
  div.input-group {
    max-width: 50%;
  }
}
